<div class="audio-controls">
  <ion-button (click)="playAudio()" [disabled]="isPlaying" color="primary" shape="round">
    <ion-icon *ngIf="!isPlaying" name="volume-high" slot="start"></ion-icon>
    <ion-spinner *ngIf="isPlaying" name="dots" slot="start"></ion-spinner>
    {{ isPlaying ? 'Playing...' : 'Play' }}
  </ion-button>
  
  <ion-button (click)="downloadAudio()" color="secondary" shape="round">
    <ion-icon name="download" slot="start"></ion-icon>
    Download
  </ion-button>
  
  <audio *ngIf="audioUrl" [src]="audioUrl" hidden></audio>
</div>